@model BookMarket.Models.BookComments

@{
    Book book = Model.Book;
    IEnumerable<Comment> comments = Model.Comments;
    ViewData["Title"] = book.Name;
}

<h2>Blog</h2>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.DatePublication)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.DatePublication)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.CategoryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.DatePublication)
        </dd>
    </dl>
    <div class="w3-card-4 w3-margin w3-white">
        <img src="@Html.DisplayFor(model => model.Book.PhotoUrl)" alt="Norway" style="width:100%">
    </div>
    <div class="container">
        @if (User.Identity.IsAuthenticated)
        {
            <form>
                <div class="form-group">
                    <label class="control-label">Ваш відгук</label>
                    <input id="BookId" name="BookId" value="@Model.Book.Id" hidden />
                    <input id="Content" name="Content" class="form-control" required />
                    @*<span id="" class="text-danger"></span>*@
                </div>
            </form>
        <button id="add-comment" class="btn btn-success">Відправити</button>
        }
        <div id="comments">
            @foreach (var comment in Model.Comments)
            {
                <div class="alert alert-success">
                    <p>
                        <strong>@comment.Name</strong> @comment.Content
                    </p>
                    @comment.Time
                </div>
            }
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $('#add-comment').click(function () {
        var comment = {
            Content: $('#Content').val(),
            BookId: $('#BookId').val()
        };

        $.ajax({
            url: 'http://localhost:3466/Home/AddComment',
            type: 'POST',
            contentType: "application/json",
            data: JSON.stringify(comment),
            success: function (comment) {
                $('#comments').append('<div class="alert alert-success"> <strong>Success!</strong> You should <a href="#" class="alert-link">read this message</a>.</div>');
            }
        });
    });
</script>